@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab&display=swap');

/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/*
header color #cce8cc Tea Green
body color #F4F7F5 White Smoke
text color #313628 Black Leather Jacket
odd article color #d9dbf1 Azureish White
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: auto;
    text-align: center;
    max-width: 700px;
    background-color: #f4f7f5;
    color: #313628;
}
#content {
    margin: 0 auto;
    max-width: 960px;
}

header,
footer {
    background-color: rgba(224, 181, 205, 0.35);
    color: white;
    padding: .75em 1.2em .75em 5em;
    border-radius: 15px;
    margin: 1em 0;
}

header h1 {
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
}

img {
    width: 300px;
    margin: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #6d696a;
    border: 1px 0px 0px 0px;
}

.headfoot ul li {
    list-style-type: none;
    font-weight: 400;
    display: inline-block;
    padding: 10px;
}

.nav {
    text-transform: uppercase;
}

.headfoot ul a {
    color: #313628;
    text-decoration: none;

}
footer ul a:link, hover, after{
    text-decoration: underline;
    color: #6d696a
}
article h2 {
    padding-top: 20px;
}

p {
    margin: 20px;
    padding: 5px 10px 20px 10px;
    text-align: justify;
    text-indent: 3%;

}

.headfoot {
    background-color: #cce8cc;
    padding: 3px 3px;
    border-radius: 10px;
    max-width: 100%;
}

.odd {
    background-color: #d9dbf1;
    border-radius: 10px;
}
.profile {
    float: right;
    box-shadow: 0px 0px 14px #000;
    border-radius: 7px;
}

footer a {
    color: black;
    
}
footer {
   color: #000;
}

