@media (min-width: 32.5em) {
    body,
    main,
    footer {
        font-size: 16pt;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    h1 {
        font-size: 2.2em;
        padding-left: .1em;
    }
    header {
        display: grid;
        grid-template-columns: 150px 1fr;
    }
    .icon {
        align-self: center;
    }
}
#primary {
    color: #45965A;
}
#secondary01 {
    color: #7FE398;
}
#secondary02 {
    color: #4A1316;
}
#tertiary01 {
    color: #1B4A26;
}
#tertiary02 {
    color: #96454A;
}