@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab&display=swap');
body,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 2em;
}

header {
    background-color: #7FE398;
    /*display: grid;
    grid-template-columns: 100px 1fr;*/
}

.logo {
    float: right;
    width: 100px;
    display: block;
}

main {
    background-color: white;
}

body {
    background-color: #EFEFEF;
    padding-top: 0;
    padding-bottom: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
    padding: 1.5em;
    text-align: center;
    margin: 0;
    background-color: #7FE398;
    color: white;
}

h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
    color: #2A9D8F;
}

p {
    font-family:'Roboto Slab', serif;
    line-height: 1.7rem;
}

a {
    color: #264653;
}

a:hover {
    color: #96454A;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;  }
#nav ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding: 0; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#nav li:first-child a {
	border-left: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }


ul li,
ol li {
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}

footer {
    background-color: #264653;
    color: white;
    font-family: 'Raleway', sans-serif;
}

footer a {
    color: white;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.site-header-sample {
    color: white;
    background-color: #264653;
    font-size: 40pt;
    font-family: 'Bevan', sans-serif;
}

.navigation-sample {
    color: #264653;
    background-color: #E9C46A;
    font-size: 16px;
}

.footer-sample {
    color: white;
    background-color: #264653;
    font-size: 20pt;
}

.heading-sample {
    color: #2A9D8F;
    font-size: 32pt;
    font-family: 'Bevan', sans-serif;
}

.paragraph-sample {
    font-size: 16pt;
}

.rgb {
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;
}
#primary {
    color: #45965A;
}
#secondary01 {
    color: #7FE398;
}
#secondary02 {
    color: #4A1316;
}
#tertiary01 {
    color: #1B4A26;
}
#tertiary02 {
    color: #96454A;
}