@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab&display=swap');
body,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 2em;
}

header {
    background-color: #7FE398;
    /*display: grid;
    grid-template-columns: 100px 1fr;*/
}

.icon {
    float: right;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: white;
}

body {
    background-color: #EFEFEF;
    padding-top: 0;
    padding-bottom: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
    padding: 1.5em;
    text-align: center;
    margin: 0;
    background-color: #7FE398;
    color: white;
}

h2 {
    color: #96454A;
}
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
    color: #45965A;
}

p {
    font-family: 'Roboto Slab', serif;
    line-height: 1.7rem;
}

a {
    color: #4A1316;
}

a:hover {
    color: #96454A;
}

nav {
    background-color: #45965A;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #4A1316;
    text-align: center;
    padding: 0.95rem;
    text-decoration: none;
    font-size: 0.95rem;
    font-family: 'Raleway', sans-serif;
}

nav a:hover {
    background-color: #96454A;
    color: #4A1316;
}

ul li {
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}

footer {
    background-color: #4A1316;
    color: white;
    font-family: 'Raleway', sans-serif;
}

footer a {
    color: white;
}s
.rgb {
    font-size: 16pt;
    font-family: 'Raleway', sans-serif;
}